<!doctype html>
<html lang="ko">
  <head>
    <title>전공 리스트</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
<script>
      $(function(){
        $('#btn2').click(function(){
          $.ajax({
            url:'/stdmj/mj/searchData2/',
            dataType:'text',
            type:'POST',
            data : {'mjname':$('#mjsg').val()},
            success:function(result){
              $('#here2').html(result)
            }

          });
        });
      });
    </script>
   <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="navId2">
    <li class="nav-item">
      <a href="/stdmj" class="nav-link">학생관리</a>
    </li>
    <li class="nav-item">
      <a href="/stdmj/mj" class="nav-link">전공관리</a>
    </li>
     <input type="text" name="mjsg" id="mjsg">
    <button class="btn btn-info" id="btn2" name="btn2">전공 으로 검색</button>
  </ul>
  <br>
<div class="container">
      <div class="row">
         <a href="{% url 'stdmj:major_new' %}" class="btn btn-outline-info btn-lg btn-block">신규 전공 등록 하기</a>
      </div>
    </div>

    <br>
     <br>
    <div class="container text-info">
        <div class="row">
            <h2>전공 리스트</h2>
        </div>
    </div>

    <div class="container">
    <hr>
    </div>

    <div id="here2">
    <div class="container">
      <div class="row">
      
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>전공 아이디</th>
              <th>전공 이름</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
    
         
        </table>
      </div>
  </div>
</div>


  <br>
    <div class="container text-info">
        <div class="row">
            <h2>전공 CSV 업로드</h2>
        </div>
    </div>
    <div class="container">
    <hr>
    </div>
    <br>

   <div class="container">
     <div class="row">
      <form action="{% url "stdmj:upload_csv2" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
{% csrf_token %}
<div class="form-group">
    
    <div class="col-md-8">
        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
    </div>                    
</div>

<div class="form-group">                    
    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
         <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
    </div> 
</div>
</form>     
     </div>
   </div>

   <br>
   <div class="container">
     <div class="row"><br><br></div>
   </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


